*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes fade{
    from{
        opacity: .65;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade1{
    from{
        opacity: .65;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade2{
    from{
        opacity: .65;
    }
    to{
        opacity: 1;
    }
}

header{
    background-image: -webkit-linear-gradient(rgba(0,0,0,.375), rgba(0,0,0,.375)), url("img/header.jpg");
    background-position: center top;
    background-attachment: scroll;
    background-size: cover;
}

body{
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    color: white;
}

.logo{
    font-size: 3rem;
    margin: .5em;
}

.logo:hover::after{
    transform: scaleX(1);
    transition: transform 1s;
}

.logo::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
}

.navbar{
    /*position: fixed;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar  ul{
    display: inline-flex;
    list-style: none;
    margin-left: auto;
}

.navbar li{
    margin: 1.15em;   
}

.about::after, .menu::after, .services::after, .contact::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
}

.about:hover::after, .menu:hover::after, .services:hover::after, .contact:hover::after{
    transform: scaleX(1);
    transition: transform 1s;
}

.sushiPlatter{
    font-size: 1rem;
    text-align: left;   
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0em 2em;
}

.sushiPlatter h2{
    font-weight: bold;
    display: inline-block;
}

.sushiPlatter a{
    display: inline-block;
    margin: 0em 7em;
} 

.sushiPlatter a:hover{
    opacity: .25;
    transition: 1s;
}

.dots{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0 1em;
}

.dot{
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 50%;
    margin: .2em;
    transform: scale(.75);
    outline-color: white;
}

.active{
    transform: scale(1);
    opacity: .25;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

.fade1{
    -webkit-animation-name: fade1;
    -webkit-animation-duration: 2s;
    animation-name: fade1;
    animation-duration: 2s;
}

.fade2{
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 2s;
    animation-name: fade2;
    animation-duration: 2s;
}

.dot:hover{
    transform: scale(1);
    opacity: .25;
    transition: transform 1s ease-in;
    transition: opacity .5s;
}

section{
    height: 100vh;
    color: black;
}

.description{
    color: black;
    background: white;
    margin: 1em;
}

dl{
    font-size: 1.3rem;
}

dt{
    font-size: 1.3rem;
}
.topRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

.imageDiv{
    margin-top: 3.25em;
}

.imageDiv span{ 
    font-size: 1.75rem;
    margin-left: 4em;
}

.descImg {
    display: inline-block;
    width: 47.5%;
    margin: 1em auto;
}

.imgCap{
    font-size: 1.5rem;
    line-height: 1.5em;
    width: 49%;
}
